

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #070606;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post {
    max-width: 700px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post_header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.header-text {
    text-align: left; 
    margin-right: auto;

}

.header-text h1 {
    margin-bottom: 5px; 
    font-size: 1.5rem; 
}

.header-text p {
    margin-top: 5px; 
    font-size: 1rem;
}

.post_header i {
    font-size: 50px; 
}
.imag {
    text-align: center;
    margin-bottom: 10px;
}

.imag img {
    max-width: 100%;
    height: auto;
}
.post-iconos {
    display: flex;
    font-size: 30px; 
    flex-direction: row;
    margin-bottom: 5px;
}

.post-iconos i.fa-regular.fa-bookmark {
    font-size: 30px; 
   margin-left: 548px;
}

.post-body {
    line-height: 1.6;
}
